@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts';

html, body, #__next {
  @apply min-h-screen;
}

body {
  @apply font-serif;
  @apply overflow-hidden;
  @apply select-none;
}

a {
  @apply border-b-2;
}

.violet {
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and ( min-width: 768px ) {
    background-size: contain;
  }
}

@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
  }

  25% {
    transform: translate3d(0.8px, 0, 0);
  }

  50% {
    transform: translate3d(0.8px, 0.8px, 0);
  }

  100% {
    transform: translate3d(0, 0.8px, 0);
  }
}

.shake {
  animation: shake 200ms linear infinite;
}
