/* butler light */
@font-face {
  font-family: 'butlerlight';
  src: url('fonts/butler/butlerlight.woff') format('woff'),
       url('fonts/butler/butlerlight.svg') format('svg'),
       url('fonts/butler/butlerlight.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

/* butler ultralight */
@font-face {
  font-family: 'butlerultralight';
  src: url('fonts/butler/butlerultralight.woff') format('woff'),
       url('fonts/butler/butlerultralight.svg') format('svg'),
       url('fonts/butler/butlerultralight.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}
